.header{
  min-height: 48px;
  background-color: #161823;

  .logo{
    position: absolute;
    top: 8px;
  }

  .searchInput{
    min-width: 50%;
  }

  .avatar{
      margin:auto;
      margin-right: 4px;
  }
}

.sidebar{
  background-color: #161823;
  color: #fff;
  min-width: 200px;
}